<section class="flex-column">
  <a class="button is-primary" href="/{{townName}}/{{house.name}}">
    <span class="is-size-4 padding-bottom-5">
      <</span>Back to house</a>

  <h1 class="is-size-1">{{house.name}}</h1>

  <form action="{{town.name/house.name}}?_method=put" method="POST" class="form-outline">
    <label class="label">Name:</label>
    <input type="text" name="name" placeholder="name" value="{{house.name}}" class="input" required>

    <label class="label">Residents:</label>
    <textarea rows="2" cols="50" name="residents" placeholder="Enter names seperated by commas" class="textarea">{{house.residents}}</textarea>

    <label class="label">Password:</label>
    <input type="password" name="key" placeholder="password" class="input">

    <p>
      <input type="submit" value="UPDATE" class="button is-info edit-buttons">
    </p>
  </form>
  {{#if message1}}
  <div class="message is-danger alert">
    <p class="message-body">{{message1}}</p>
  </div>
  {{/if}}

  <form action="{{town.name/house.name}}?_method=delete" method="POST" class="form-outline">
    <label class="label">Password:</label>
    <input type="password" name="key" placeholder="password" class="input">

    <p>
      <input type="submit" value="DELETE" class="button is-danger edit-buttons">
    </p>

  </form>
  {{#if message2}}
  <div class="message is-danger alert">
    <p class="message-body">{{message2}}</p>
  </div>
  {{/if}}
</section>