<section class="flex-column">
  <h1 class="is-size-1">{{house.name}}</h1>
  <div class="flex-row">
    <img src="{{house.image}}" alt="house-image">
    <div class="flex-column residents">
      {{#each house.residents}}
      <p>{{this}}</p>
      {{/each}}
    </div>
  </div>
  <h1>{{house.user}}</h1>
  <a href="{{house.id}}/edit" class="button is-info">Edit</a>
</section>