<section class="flex-column">
  <h1 class="is-size-1">{{name}}</h1>
  <a href='{{id}}/new' class="button is-primary">NEW</a>
  {{#each houses}}
  <a href='{{../this.id}}/{{this.id}}'>
    <p>{{this.name}}</p>
  </a>
  {{/each}}
</section>