<section class="flex-column">
  <h1 class="is-size-1">{{name}}</h1>

  <a href='{{name}}/new' class="button is-primary new-house">NEW</a>

  <div class="flex-row">
    {{#each houses}}
    <a href='/{{../this.name}}/{{this.name}}'>
      <div class="card house-card">
        <div class="card-image">
          <figure class="image is-1by1">
            <img src="{{image}}" alt="Picture of {{name}}">
          </figure>
        </div>
        <div class="media-content has-text-centered">
          <p class="title is-4 is-size-5-desktop">{{name}}</p>
        </div>
      </div>
    </a>
    {{/each}}
  </div>
</section>